<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.luchenjie.projectjuice">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.main.MainActivity">

        </activity>
        <activity android:name="com.main.MenuActivity">

        </activity>
        <activity android:name="com.main.DeviceInfo">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name="com.main.SettingActivity" />
        <activity android:name="com.main.PayActivity" />
        <activity android:name="com.main.SaleActivity" />
        <activity android:name="com.main.MaintainceActivity" />
        <activity android:name="com.main.CleanActivity" />
        <activity android:name="com.main.SupportActivity" />
        <activity android:name="com.main.LogoActivity" />
        <activity android:name="com.main.FileActivity"></activity>
    </application>

</manifest>